.main-header {
    padding: 12px;
    text-align: center;
}

.header-logo {
    display: block;
    max-width: 160px;
    margin: auto;
}

.main-content {
    padding: 32px 0 0 0;
}

.main-content img,
.content img {
    width: 100%;
}

.main-content img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
}

.content-page {
    margin: 0 auto;
    padding: 0 3.125rem;
}

.content-page_container {
    width: 1240px;
    display: flex;
    gap: 64px;
}

.product-images_1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.product-images_1 .product-images_1_mainImg {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
}

.product-images_1_badge {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 100%;
    max-width: 120px;
    display: block;
}

.product-images_1_nutrition-info {
    position: absolute;
    bottom: 32px;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 8px;
    line-height: 1.2em;
    max-width: 290px;
    padding: 8px 24px;
    background: #ffffffd9;
    border: 1px solid black;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
}

.product-images_1_nutrition-info img {
    width: 24px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-images_1_nutrition-info span {
    display: flex;
    align-items: center;
}

.product-images_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 16px 0;
}

.product-images_2.bottom img {
    aspect-ratio: auto;
}

.product-images_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 25px 0;
}

.page-left_onlyDesktop {
    width: 100%;
}

.page-left_onlyMobile {
    display: none;
}

.product-review_total {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.product-review_total img {
    width: 100%;
    display: block;
}

.content-product_review p {
    margin: 0;
    line-height: 1.3em;
    font-size: 16px;
}

.product-review_title {
    font-size: 28px;
    margin: 16px 0;
    line-height: 1.4em;
    font-family: Lora;
    font-weight: 400;
}

.product-review_features_line {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
    /* max-height: 52.36px; */
}

.product-review_features_line img {
    width: 53px;
    min-width: 53px;
    max-width: 53px;
}

.clinicians-choice {
    font-family: 'Open sans', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 387px;
    padding: 8px 0px 10px 8px;
    padding-right: 10px;
    gap: 10px;
    z-index: 1;
    max-height: 78px;
}

.clinicians-choice_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.clinicians-choice_logo p {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #212121;
}

.clinicians-choice_logo svg path {
    stroke: transparent;
    fill: #212121;
}

.clinicians-choice_center {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 250px;
    min-width: 250px;
    max-height: 60px;
}

.clinicians-choice_center p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #212121;
    font-family: 'Open sans', serif;
}

.clinicians-choice_center p .bold {
    display: inline;
    font-weight: 600;
    font-family: 'Open sans', serif;
}

.clinicians-choice_center p .italics {
    display: inline;
    font-style: italic;
    font-family: 'Open sans', serif;
}

.learn-more {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

    outline: none;
}

.clinicians-choice_center_theirreview {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.theirreview-images img {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    object-fit: cover;
    background-color: #eee;

    border: 2px #FFF solid;
    position: relative;
}

.theirreview-read:hover>p {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.theirreview-read>p {
    color: #212121;
    font-weight: 600;
}

.close-button {
    display: flex;
    padding: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 5px;
    border-radius: 68px;
    background: #E0E0E0;
}

.product-selector_choice {
    background: #f3eee0;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.product-selector_block {
    border-radius: 12px;
    border: 1px solid #039869;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
}

.product-selector_head {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #fff;
    padding: 16px;
    border-radius: 12px;
}

.product-selector_title,
.product-selector_price {
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 600;
    font-family: Nunito;
}

.product-selector_head>div:nth-child(1) {
    width: 32px;
}

.product-selector_head>div:nth-child(2) {
    width: 100%;
}

.product-selector_head>div:nth-child(3) {
    width: 50%;
    text-align: right;
}

.product-selector_bubble {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #039869 !important;
}

.product-selector_bubble_inn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block !important;
}

.product-selector_info {
    font-size: 12px !important;
    margin: 0;
    line-height: 1.3em;
    font-family: Nunito;
}

.product-selector_compare {
    font-size: 14px;
    line-height: 1.3em;
    margin: 0;
    display: block;
}

.product-selector_perks {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.active .product-selector_perk_line {
    opacity: 1;
}

.active .product-selector_bubble_inn {
    background: #039869;
    border: 2px solid #039869 !important;
}

.product-selector_perk_line {
    background: #039869 !important;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-bottom: 1px solid white;
    opacity: .6;
}

.product-selector_perk_line>div:nth-child(1) {
    width: 34px;
}

.product-selector_perk_line>div:nth-child(2) {
    width: 100%;
}

.product-selector_perk_line p {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    line-height: 1em;
}

.product-selector_perk_line:last-child {
    border-bottom: none;
}

.product-selector_badge {
    position: absolute;
    top: -20px;
    right: -5px;
}

.deliver-usp {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.deliver-usp>div:nth-child(1) {
    width: 5%;
    display: flex;
    align-items: center;
}

.deliver-usp>div:nth-child(2) {
    width: 100%;
}

.date_deliver {
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    background: #039869 !important;
}

.product-selector_atc {
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px;
    /* width: 100%; */
    text-align: center;
    margin-top: 12px;
    transition: all .2s;
}

.product_atc-footer-line {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

.product_atc-footer-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.product_atc-footer-inline:nth-child(1) {
    padding-right: 16px;
    border-right: 1px solid black;
}

.product_atc-footer-inline img,
.product_atc-footer-inline svg {
    width: 20px;
    height: 20px;
    display: block;
}

.product_atc-footer-inline p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;

    font-family: Nunito;
}

.hided {
    display: none !important;
}

.product-payment_icons {
    margin: 16px 0 !important;
    display: block !important;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-note_image {
    display: block;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-atc_icon_line {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
}

.product-atc_icon_line>div:nth-child(1) {
    width: 5%;
    display: flex;
    align-items: center;
}

.product-atc_icon_line>div:nth-child(2) {
    width: 100%;
}

.main_product-review,
.section_press_logos_outer,
.press_logos_wrapper,
.product_judge-outer.pink,
.product_ingr-block {
    background: #f3eee0 !important;
}

.main_product-review {
    margin-top: 24px;
    padding: 12px;
    border-radius: 12px;
    background: #fff7f8;
}

.main_product-review-meta {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.main_product-review-meta p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 1.3em;

    font-family: Nunito;
}

.main_product-review-stars {
    display: block;
    max-width: 100px;
    margin-top: 6px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.main_product-review-meta span {
    display: flex;
    align-items: center;
}

.main_product-review-meta p img {
    max-width: 120px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.main_product-review-meta>div:nth-child(1) {
    width: 15%;
}

.main_product-review-meta>div:nth-child(2) {
    width: 100%;
}

.product_tab-thumb p {
    margin: 0 !important;
    font-size: 16px !important;
    line-height: 1.3em !important;
}

.main_product-review-content p {
    margin-top: 0 !important;
    margin-bottom: 8px !important;
    line-height: 1.3em !important;
    font-size: 16px !important;
    letter-spacing: 0 !important;

    font-family: Nunito !important;
}

.main_product-review-content p:last-child {
    margin-bottom: 0;
}


.product_tab-block_out {
    margin-top: 16px;
}

.product_tab-block.active {
    border: 1px solid #039869 !important;
}

.product_tab-block {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 32px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
}

.product_tab-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.product_tab-thumb p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
}

.product_tab-thumb span {
    display: flex;
    align-items: center;
}

.product_tab-thumb img {
    width: 24px;
    display: block;
    transition: all .2s;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_tab-content {
    padding-top: 16px;
    display: none;
}

.product_tab-content_ul {
    margin: 16px 0;
    padding-left: 40px;

    overflow: hidden;
}

.product_tab-content_ul li {
    list-style-type: disc;
    font-size: 16px;
    font-family: Montserrat;
}

.press_logos_wrapper {
    background: #f3eee0 !important;
}

.press_logos_wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
    display: grid;
    margin: auto;
    grid-gap: 20px 70px;
    align-items: center;
    margin-top: 32px;
    height: 90px;
}

.title_wrap {
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
}

.auto_scrolling_logos {
    width: 100%;
    overflow: hidden;
    min-width: 1px;
}

@keyframes logo_scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.logos_wrap {
    display: flex;
    width: max-content;
    animation: logo_scroll 60s linear infinite;
}

.logos_wrap img {
    height: 30px;
    display: block;
    margin: 0 50px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-judge_outer {
    padding-top: 56px;
}

.product_judge-container {
    max-width: 800px;
    margin: auto;
}

.product-section_title {
    font-size: 32px;
    line-height: 1.3em;
    margin: 16px 0;
    font-weight: 400;
    font-family: Lora;
}

.product-section_text {
    font-size: 18px;
    margin: 16px 0;
    line-height: 1.3em;
    font-family: Nunito;
}

.product-section_title span {
    color: #039869 !important;
    font-family: Lora;
}

.product_why-bloating-grid {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.product_why-bloating-grid>div {
    width: 100%;
}

.product_why-bloating-cell {
    border-radius: 6px;
    overflow: hidden;
}

.product_why-bloating-cell div img,
.product_why-bloat-cell-inn {
    min-height: 150px;
}

.product_why-bloating-grid img {
    width: 100%;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_why-bloat-cell-inn {
    padding: 16px;
    text-align: center;
    background: #f7f7f7;
}

.product_why-bloat-cell-inn p {
    margin: 0;
    line-height: 1.3em;
    font-size: 16px;
    font-family: Nunito;
}

.product_why-note-img img {
    width: 100%;
    display: block;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_why-note-img {
    width: 100%;
    max-width: 920px;
    margin: auto;
}

.product_arrow-img {
    display: block;
    width: 100%;
    max-width: 48px;
    margin: 24px auto;
    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_judge-container {
    max-width: 800px;
    margin: auto;
}

.centered {
    text-align: center;
}

.product_judge-container.top_padding {
    margin-bottom: 40px;
}

.pli_outer {
    padding: 0 0;
    margin-top: -16px;
}

.pli_flex {
    display: flex;
    gap: 100px;
    align-items: center;
}

.pli_flex>div {
    width: 100%;
}

.pli_flex img {
    display: block;
    width: 100%;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.pli_top-text *,
.pli_pink-text *,
.pli_bottom-text * {
    font-size: 18px;
    line-height: 1.3em;
    margin: 8px 0;
}

.pli_top-text ul {
    padding-left: 0;
    margin-left: 0;
}

.pli_top-text li {
    padding-left: 32px;
    color: #0c7c00;
    background-image: url('../assets/icons/check-mark_17013456_2_1.png');
    background-size: 20px;
    background-repeat: no-repeat;
    list-style: none;
    font-weight: 600;
    font-family: Nunito;
}

.pli_bottom-text li,
.pli_pink-text li {
    padding-left: 32px;
    color: #a60003;
    background-image: url('../assets/icons/Vector_7.png');
    background-size: 20px;
    background-repeat: no-repeat;
    list-style: none;
    font-weight: 600;
    font-family: Nunito;
}

.pli_pink-text {
    margin: 24px 0;
    padding: 8px 16px;
    border-radius: 8px;
    background: #ffe3e3;
}

.product_judge-outer.outer_how-nothing {
    padding-top: 0;
}

.outer_how-nothing {
    font-size: 28px;
    font-weight: 700;
    color: #1c1b1b;
    margin-bottom: 35px;
    background-color: #f7f2e7;
    padding: 70px 0;
    font-family: Inter, sans-serif;
    text-align: center;
}

.product_why-nothing-cell {
    border-radius: 6px;
    overflow: hidden;
}

.product_why-nothing-cell img {
    width: 100%;
    display: block;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_why-nothing-subtitle img {
    max-width: 24px;
}

.product_why-nothing-cell-inn {
    background: #f7f7f7;
    padding: 24px;
    text-align: center;
}

.product_why-nothing-cell-inn h4 {
    font-size: 20px;
    line-height: 1.3em;
    margin: 0;
}

.product_why-nothing-pink {
    background: #ffe3e3;
    padding: 8px 16px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 24px;
    min-height: 180px;
}

.product_why-nothing-subtitle {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 600;
}

.product_why-nothing-subtitle span {
    font-family: Nunito;
}

.product_why-nothing-text {
    font-size: 16px;
    line-height: 1.3em;
    margin: 12px 0 0;
    font-weight: 700;
}

.product_primary-btn {
    font-family: Nunito;
    display: inline-block;
    padding: 18px 80px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 4px;
    font-size: 18px;
    transition: all .2s;
    line-height: 1.3em;
    text-align: center;
}

.product_primary-btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1.3em;
    margin: 16px 0 0;
}

.product_primary-btn-footer img {
    width: 24px !important;
}

.product_primary-btn-footer span {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 500;
    font-family: Nunito;
}

.product_lymphg-ingr-outer {
    background: #f3eee0;
}

.product_lymph-ingr-table {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #fff;
    border-radius: 12px;
    border: .5px solid black;
    overflow: hidden;
}

.product-lymph-ingredient {
    border: .5px solid black;
    padding: 24px;
    cursor: pointer;
}

.product_lymph-ingr-subtitle {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    color: #0c7c00;
    margin: 0;
    font-family: Nunito;
}

.product_lymph-ingr-subtitle span {
    font-family: Nunito;
}

.product_lymph-ingr-subtitle img {
    max-width: 16px;
    display: block;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_lymph-main-img {
    display: block;
    max-width: 120px;
    margin: 12px auto;
    max-height: 80px;
    width: auto !important;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_lymph-ingr-thumb {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.product_lymph-ingr-thumb img {
    max-width: 24px;
    display: block;
    margin-left: auto;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_lymph-ingr-thumb h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 1.3em;
}

.product_lymph-ingr-content p {
    margin: 0;
    line-height: 1.3em;
    font-size: 14px;
}

.product_lymph-ingr-content {
    padding-top: 12px;
    display: none;
}

.product_lymph-ingr-table-small {
    max-width: 580px;
    margin: 40px auto auto;
}

.product_lymph-ingr-table-small img {
    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-reviews_trust {
    display: block;
    margin: auto;
    max-width: 200px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.widget-review {
    padding: 24px 16px;
    margin: 0;
    border: none;
}

.widget-review * {
    margin: 0;
    line-height: 1.4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.widget-review_header {
    text-align: center;
}

.widget-review_header_title {
    margin-top: 0;
    /* font-size: 150%; */
    visibility: unset;
    margin-bottom: 24px;
}

.widget-review-sanbox {
    display: flex;
    padding-bottom: 24px;
}

.widget-review_summary,
.widget-review_histogram,
.widget-actions_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.widget-summary_box {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    /* justify-content: center; */
    font-size: 16px;
}

.review-checkmark {
    width: 17px !important;
    height: 17px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}


.review-summary_starts,
.review-histogram_starts {
    color: #000000BF;
    display: flex;
}

.summary-starts_start,
.summary-starts_start_half {
    font-size: 16px
}

.histogram-starts_start,
.histogram-starts_start_half {
    font-size: 13px
}

.review-start {
    color: var(--jdgm-star-color);
}

.review-summary_starts-average {
    font-size: 16px;
    padding-left: 4px;
}

.widget-review_histogram {
    border-left: 1px solid rgba(16, 132, 116, 0.1);
    border-right: 1px solid rgba(16, 132, 116, 0.1);
    border-color: var(--jdgm-secondary-color);

    font-size: 55%;
}

.review-histogram_starts,
.review-histogram_bar,
.review-histogram_frequency {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}

.review-histogram_row {
    display: flex;
    height: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.review-histogram_bar {
    margin: 0 24px;
    width: 140px;
    background: rgba(224, 224, 224, 0.5);

    border-radius: calc(var(--jdgm-border-radius) * 1px);
}

.review-histogram_bar,
.review-histogram_bar_content {
    height: 100%;
}

.review-histogram_bar_content {
    background-color: #FA8A8A;
}

.review-histogram_frequency {
    margin: 0;
    width: 24px;
    text-align: left;
    color: #7b7b7b;
}

.btn-write-review {
    width: 240px;
    border: 2px solid var(--jdgm-write-review-bg-color, var(--jdgm-primary-color));
    background-color: var(--jdgm-write-review-bg-color, var(--jdgm-primary-color));
    color: var(--jdgm-write-review-text-color, #fff);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
}

.btn-write-review:hover {
    background-color: #FBA1A1;
    border: 2px solid #FBA1A1;
}

.widget-review_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
}

.review-media_value {
    color: #4c8eda;
    font-size: 12px;
    font-family: Nunito !important;
    font-weight: 600;
    /* line-height: 16px; */
}

.widget-review_media,
.review-row_action,
.review-body_row,
.review-pagation {
    border-top: 1px solid rgba(16, 132, 116, 0.1);
    border-color: var(--jdgm-secondary-color);
}

.review-row_action {
    padding: 8px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.action_select_dropdown {
    display: flex;
    justify-content: start;
}

.dropdown-select {
    color: var(--jdgm-primary-color);

    padding: 10px 0;
    font-size: 14px;
    /* appearance: none; */
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: none;
    letter-spacing: normal;
    /* max-width: 92px; */
}

.dropdown-select:hover {
    color: #FBA1A1;
}

.review-body_row {
    padding: 16px 0;
}

.row-reviewer_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.reviewer-head_time {
    color: #7b7b7b;
    font-size: 55%;
    min-height: 10px;
}

.reviewer-head_info {
    display: flex;
    gap: 10px;
    align-items: start;
    margin-bottom: 10px;
}

.head-info_pic {
    float: left;
    position: relative;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.5);
}

.info-pic_avt {
    font-size: 20px;
    color: var(--jdgm-primary-color);
}

.info-pic_check {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    background-color: #FA8A8A;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-check-icon {
    font-size: 8px;
    line-height: 12px;
}

.head-info_name {
    color: var(--jdgm-reviewer-name-color);
    font-size: 16px;
}

.head-info_check {
    height: 16px;
    display: inline-block;
    line-height: 1;
    background-color: #FA8A8A;
    font-size: 12px;
    color: white;
    vertical-align: top;
    padding: 2px 6px;
    margin-top: 2px;
}

.row-reviewer_content {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.review-pagation {
    padding: 16px 0;
}

.pagation-page {
    display: inline-block;
    padding: 4px 8px;
    width: 32px;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    color: #108474;
    color: var(--jdgm-paginate-color);

    font-size: 60%;
}

.pagation-page:hover {
    color: #FBA1A1;
}

.current-page {
    color: #7b7b7b;
    font-weight: bold;
    font-size: 100%;
    pointer-events: none;
}

.product_icons-grid {
    display: flex;
    gap: 24px;
}

.product_icons-grid>div {
    width: 100%;
    text-align: center;
}

.product_icons-grid img {
    width: auto;
    height: 40px;
    max-width: 40px;
    display: block;
    margin: auto auto 16px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_icons-grid p.h4title {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
}

.product_icons-grid p {
    font-size: 16px;
    margin: 0;
    line-height: 1.3em;
}

.product_expert-outer {
    display: flex;
    background: #f7f7f7;
    border-radius: 12px;
    overflow: hidden;
}

.product_expert-outer>div {
    width: 100%;
}

.product_expert-content {
    padding: 32px;
}

.product_subtitle {
    font-size: 16px;
    line-height: 1.3em;
    margin: 0;
    color: #737373;
}

.product-text p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 12px 0;
}

.product_expert-media img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;

    aspect-ratio: 0 !important;
}

.btn_container {
    margin-top: 24px;
}

.product_primary-btn {
    font-family: Nunito;
    display: inline-block;
    padding: 18px 80px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 4px;
    font-size: 18px;
    transition: all .2s;
    line-height: 1.3em;
    text-align: center;
}

.product_primary-btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1.3em;
    margin: 16px 0 0;
}

.Product-ugc-stars {
    max-width: 300px;
    margin: auto auto 16px;
    display: block;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_carousel-outer {
    position: relative;
}

.product_ugc-container {
    margin-bottom: 40px !important;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.slick-track:after,
.slick-track:before {
    display: table;
    content: '';
}

.product_ugc-container .slick-slide,
.product_review-container .slick-slide {
    padding: 8px;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.product_ugc-video {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.product_ugc-video img.product_ugc-play {
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

.product_ugc-video video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 16;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.product_ugc-container .slick-dots,
.product_review-container .slick-dots {
    width: 100%;
    max-width: calc(100% - 200px);
    display: flex;
    gap: 0;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.product_ugc-container .slick-dots li,
.product_review-container .slick-dots li {
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.product_ugc-carousel-nav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
    margin-top: -50px;
}

.product_carousel-prev,
.product_carousel-next {
    cursor: pointer;
}

.product_ugc-carousel-nav img {
    width: 100%;
    max-width: 32px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product_ugc-play {
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.slick-active button {
    background: #039869 !important;
}

.product_ugc-container .slick-dots li button,
.product_review-container .slick-dots li button {
    padding: 0;
    height: 4px;
    width: 100%;
    background: #00000026;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}

.product_faq_container {
    max-width: 824px;
    width: 760px;
    margin: auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #fff, #f3eee0);
    ;
    overflow: hidden;
    padding: 32px;
}

.product_faq-box {
    padding: 20px 24px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.product_faq-thumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.product_faq-content {
    padding-top: 16px;
    display: none;
}

.product_faq-thumb p {
    margin: 0;
    font-size: 18px;
    line-height: 1.3em;
}

.product_faq-thumb svg {
    width: 16px;
    transition: all .2s;
}

.product_expert-content {
    padding: 32px;
}

.product_faq-content p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
}

.product_stats-outer {
    display: flex;
    align-items: center;
}

.product_stats-outer>div:nth-child(1) {
    width: 100%;
}

.product_stats-outer>div:nth-child(2) {
    width: 70%;
}

.product_expert-content-img {
    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-text_text {
    color: rgba(var(--color-foreground), 0.75);
}

.product_text-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.product_text-image>div {
    width: 100%;
}

.product_text-image-reviews {
    max-width: 350px;

    object-fit: contain !important;
    aspect-ratio: 0 !important;
    border-radius: 0 !important;
    overflow: auto !important;
}

.product-text p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 12px 0;
}

.product_text-image-points {
    padding: 1px 0;
}

.product_text-image .btn_container {
    max-width: 495px;
}