* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}

.content-page {
    max-width: 1340px !important;
    width: 1240px;
    padding: 0 50px;
}

.content p {
    font-family: Nunito;
}

.content span {
    font-family: Montserrat;
}

.main-content img,
.content img {
    width: 100%;
}

.main-content img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
}

.content-page_container>div {
    width: 100%;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}